{% extends 'base.html' %}

{% block title %}
Registrar departamento
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}

<div class='grid-container'>
    <div class='grid-x'>
        <h1 class='cell'>Registrar departamento</h1>
        <form class='cell grid-x grid-margin-x' method="post">{% csrf_token %}
            <div class="cell medium-6">
                <label>Nombres:
                    {{form.nombre}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Apellido:
                    {{form.apellido}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Departamento:
                    {{form.departamento}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Nombre corto:
                    {{form.shorname}}
                </label>
            </div>
            <div class="cell medium-12">
                <button type="submit" class="success button">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
